<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Minecraft_LCE_Tweaker_Studio.Expoint.InAppUserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Minecraft_LCE_Tweaker_Studio.Expoint.InAppUserSettings>
            <setting name="IsNewUser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="S_Ins_Loc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="S_Ins_Arc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="S_Ins_Pck" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="S_Ins_Fui" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="S_Ins_SPT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GAF_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="S_Ins_Col" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClipboardTextCollection" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>null</string>
                        <string>null</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Minecraft_LCE_Tweaker_Studio.Expoint.InAppUserSettings>
    </userSettings>
</configuration>
